<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: rgb(30, 30, 31);
        color: rgb(32, 33, 34);
      }
      .btn {
        background-color: rgb(60, 100, 133);
        color: rgb(220, 220, 221);
        border-radius: 20px;
        border-color: transparent;
        box-shadow: -3px -3px 3px 0 rgba(255,255,255, 0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
      }
      .btn:hover, .btn:active {
        font-weight: bold;
        color: rgb(220, 220, 221);
        box-shadow: inset -3px -3px 3px 0 rgba(255,255,255, 0.7), inset 3px 3px 3px 0 rgba(0,0,0,0.2);
      }
    </style>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">

    {% if user.is_authenticated %}
      <title>Welcome, {{ request.user }}!</title>
    {% else %}
      <title>Welcome, User!</title>
    {% endif %}

    <title>Hello, world!</title>
  </head>
  <body>
    <div style="margin-top: 200px;">
      <div class="row-lg-12 text-center mb-5" style="padding-left: 120px; padding-right:120px;">
          {% if user.is_authenticated %}
          <h1 class="title text-center" style="font-family: 'Playfair Display'; margin-top: 80px; font-size: 60px; font-weight: bold; color: rgb(207, 214, 233);" id="welcome">Welcome, {{ request.user }}!</h1>
          <a href="logout/"><button type="submit" class="btn align-middle" id="logOut" style="width: 100px; margin:20px;">Log Out</button></a>
          {% else %}
          <h1 class="title text-center" style="font-family: 'Playfair Display'; margin-top: 80px; font-size: 60px; font-weight: bold; color: rgb(207, 214, 233);" id="welcome">Welcome, User!</h1>
          <a href="login/"><button type="submit" class="btn align-middle" id="logIn" style="width: 100px; margin:20px;">Log In</button></a>
          <br>
          <a href="signup/"><button type="submit" class="btn align-middle" id="signUp" style="width: 100px;">Sign Up</button></a>
          {% endif %}
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
