* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(30, 30, 31);
}
#welcome{
    margin-left: 10vw;
    font-family: 'Playfair Display';
}
#welcome .text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 100%;
    color: rgb(207, 214, 233);
}
#welcome .text#top  {
    color: #dddde9;
    font-size: 450%;
    font-weight: bold;
}

#welcome .row.one .form-group{
    margin: 5vh;
    margin-top: 2vh;
    font-family: 'Spartan';
    font-weight: bold;
}
#welcome .row.one .form-group input{
    margin-bottom: 30px;
    max-width: 500px;

    background-color:rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;

    font-size: 25px;
    color: rgb(230, 231, 236);
    border: none;
}

#welcome .row.one .form-group button{
    padding: 7px 30px;
    margin-top: 15px;

    background-color: rgb(60, 100, 133);
    border-radius: 20px;
    box-shadow: -3px -3px 3px 0 rgba(255,255,255,0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
    
    color: rgb(236, 240, 250);
}

#welcome .row.one .form-group #logIn:hover{
    font-weight: bold;
    color: rgb(236, 226, 226);
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2), inset -3px -3px 3px 0 rgba(255,255,255,0.7);
}

#signUp {
    padding: 7px 30px;
    margin-top: 15px;
    align-items: center;

    background-color: rgb(60, 100, 133);
    border-radius: 20px;
    box-shadow: -3px -3px 3px 0 rgba(255,255,255,0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
    
    color: rgb(236, 240, 250);
}
#signUp:hover {
    font-weight: bold;
    color: rgb(236, 226, 226);
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2), inset -3px -3px 3px 0 rgba(255,255,255,0.7);
}

.invalid {
    margin-bottom: 20px;
    color: #8E0E00;
    font-size: 20px;
    font-weight: bold;
}
